
@{
    ViewData["Title"] = "Accessdenied";
}

<h1>Yetkisiz Giriş</h1>
<hr />
<div class="alert alert-danger"><h3 class="alert alert-danger">Yetkinizin olmadığı bir alana giriş yaptınız !</h3></div>

